In [4]:
import pandas as pd

In [13]:
t_log = pd.read_csv('../data/raw/t_login.csv')
t_log.time = pd.to_datetime(t_log.time)

In [14]:
t_log.head()

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,2.618369e+15,5.0,879361,10,1026491,194,1,1.428642e+09,1,116825,True,False,2015-04-10 12:54:19
1,9.969739e+14,16124.0,835072,1,1026491,194,1,1.428809e+09,1,109987,False,False,2015-04-12 11:20:45
2,8.123343e+15,5.0,879361,10,1026491,194,1,1.427705e+09,1,116825,True,False,2015-03-30 16:38:20
3,3.265677e+14,6.0,879361,10,1026491,194,1,1.428309e+09,1,116825,True,False,2015-04-06 16:22:18
4,6.684659e+15,4.0,879361,10,1026491,194,1,1.428221e+09,1,116825,True,False,2015-04-05 15:55:01

In [15]:
t_trade = pd.read_csv('../data/raw/t_trade.csv')
t_trade.time = pd.to_datetime(t_trade.time)

In [16]:
t_trade.head()

   rowkey                time      id  is_risk
0       3 2015-01-01 00:00:41   27863        0
1       6 2015-01-01 00:00:46  115201        0
2      13 2015-01-01 00:01:02  143711        0
3      32 2015-01-01 00:03:00  172699        0
4      43 2015-01-01 00:03:52   53265        0

In [19]:
print t_log.time.max()
print t_log.time.min()

2015-06-30 23:59:57
2015-01-01 00:00:15

In [20]:
print t_trade.time.max()
print t_trade.time.min()

2015-06-30 23:56:39
2015-01-01 00:00:40

In [27]:
t_log_train = t_log[('2015-01-01 00:00:00' <= t_log.time) & (t_log.time < '2015-06-01 00:00:00')]
t_trade_train = t_trade[('2015-01-01 00:00:00' <= t_trade.time) & (t_trade.time < '2015-06-01 00:00:00')]

In [32]:
print t_log_train.time.max()
print t_trade_train.time.max()

print t_log_train.time.min()
print t_trade_train.time.min()

2015-05-31 23:59:56
2015-05-31 23:59:53
2015-01-01 00:00:15
2015-01-01 00:00:40

In [29]:
t_log_validation  = t_log['2015-06-01 00:00:00' <= t_log.time]
t_trade_validation  = t_trade['2015-06-01 00:00:00' <= t_trade.time]

In [31]:
print t_log_validation.time.max()
print t_trade_validation.time.max()

print t_log_validation.time.min()
print t_trade_validation.time.min()

2015-06-30 23:59:57
2015-06-30 23:56:39
2015-06-01 00:00:01
2015-06-01 00:00:47

In [33]:
t_log_train.to_csv('../data/train/t_log_train.csv', index=None)
t_trade_train.to_csv('../data/train/t_trade_train.csv', index=None)

t_log_validation.to_csv('../data/train/t_log_validation.csv', index=None)
t_trade_validation.to_csv('../data/train/t_trade_validation.csv', index=None)